name: VirusTotal Scan

on:
  release:
    types: [published, edited, prereleased]
  workflow_dispatch: # Manual trigger

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: VirusTotal Scan
        uses: crazy-max/ghaction-virustotal@v4
        with:
          vt_api_key: ${{ secrets.VIRUSTOTAL_API_KEY }}
          update_release_body: true
          # Using specific glob patterns to find your assets
          files: |
            **/*.apk
            **/*.exe
