name: VirusTotal Scan

on:
  release:
    types: [published, edited, prereleased]
  workflow_dispatch: 

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to edit the release description
    steps:
      - name: VirusTotal Scan
        uses: cssnr/virustotal-action@v1
        with:
          vt_api_key: ${{ secrets.VIRUSTOTAL_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # This action automatically finds release assets if triggered by a release
          # We specify the patterns to scan only your apps
          file_globs: |
            *.apk
            *.exe
          rate_limit: 4 # Important for Free VT accounts
          update_release: true
