name: VirusTotal Scan

on:
  release:
    types: [published, edited, prereleased]
  workflow_dispatch: 

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1. Download the files from the release to the runner's disk
      - name: Download Release Assets
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download ${{ github.event.release.tag_name }} --pattern "*.apk" --pattern "*.exe"

      # 2. Scan the downloaded files
      - name: VirusTotal Scan
        uses: crazy-max/ghaction-virustotal@v4
        with:
          vt_api_key: ${{ secrets.VIRUSTOTAL_API_KEY }}
          update_release_body: true
          request_rate: 4 # Stay under the 4-file-per-minute free limit
          files: |
            *.apk
            *.exe
